<div class="title1">	
	<img class="img" src="style/img/english.png">
	<img class="img" src="style/img/czech.png">
	<img class="img" src="style/img/slovak.png">
	<img class="img" src="style/img/german.png">
	<img class="img" src="style/img/hungarian.png">
	<img class="img" src="style/img/polish.png">
</div>
	<hr>
<div class="title1">
	<img src="style/img/logo.png" class="img-rounded" alt="Responsive image" width="200px">
	<h1 class="title2">Translater</h1>
	<br>
	<h3 class="title3">Your word and our translate. Fast, professional and now.</h3>
	<h3 class="title3">Your words are anywhere where are you.</h3>
	<h3 class="title3">Your questions and our service.</h3>
</div>
<br><br>
<div class="title1">
    <a href="http://edocu.com/sk/index.php"><img src="style/img/homePage.jpg" alt="Responsive image" class="img2"></a>
    <h1 class="title5">Our official web</h1>
    <br>
    <h3 class="title3">Do you want know more about us?</h3>
    <h3 class="title3">Do you want know about our other projects?</h3>
    <h3 class="title3">So click on the icon.</h3>
</div>
<br><br>
<div class="title1">
    <a href="https://idp.edocu.eu/idp/Authn/UserPassword"><img src="style/img/projectEdocu.png" alt="Responsive image" class="img2"></a>
    <h1 class="title5">Join to eDocu</h1>
    <br>
    <h3 class="title3">Do you want know more about any build, car or item?</h3>
    <h3 class="title3">Documentation is alway udated.</h3>
    <h3 class="title3">Click on the icon and register.</h3>
</div>

<style type="text/css">
.img {
    width: 145px;
    margin-left: 2px;
}

.title1 {
	width: 933px;
	margin-left: 30px;
    color: silver;
    margin-top: 9px;
}

.title2 {
	margin-left: 250px;
	margin-top: 50px;
}

.title3 {
	margin-left: 250px;
	margin-top: 1px;
}

.img-rounded {
	float: left;
	padding-left: 2px;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
}

.img2 {
    float: left;
    width: 200px;
    margin-left: 20px;
}

.title5 {
    margin-top: 50px;
    margin-left: 250px;
    margin-right: 100px;
}
</style>